name: Linux

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.16.x', '1.17.0' ]
    name: Go ${{ matrix.go }} build
    steps:
      - name: checkout
        uses: actions/checkout@v2

      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@v2
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}

      - name: go vet
        run: go vet -v ./...

      - name: Basic build
        run: go build ./cmd/...

      - name: Run tests on linux
        run: go test ./...
     
      - name: Run tests with race detector
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov  
        uses: codecov/codecov-action@v2.0.3
        with:
         file: ./coverage.txt
